# Terraform files
.terraform
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
variables.tf*
regional.tf*

# Ansible files
*.retry
ansible/global_vars/*


# General files
todo.md
*.swp
*.DS_Store
*-east
*-west
