# the nginx server instance
server {
  listen 80 default_server;
  listen [::]:80 default_server;

  server_name _;
  access_log /var/log/nginx/yourdomain.log;

# pass the request to the node.js server with the correct headers
# and much more can be added, see nginx config options
  location / {
      root /srv/picks/;
  }
}
